@charset "UTF-8";
/* Creat by acropolis */
@font-face {
  font-family: 'Whitney Medium';
  src: url("../fonts/Whitney-Medium.eot");
  src: url("../fonts/Whitney-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Whitney-Medium.woff") format("woff"), url("../fonts/Whitney-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Whitney Light';
  src: url("../fonts/Whitney-Light.eot");
  src: url("../fonts/Whitney-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Whitney-Light.woff") format("woff"), url("../fonts/Whitney-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Whitney Book';
  src: url("../fonts/Whitney-Book.eot");
  src: url("../fonts/Whitney-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Whitney-Book.woff") format("woff"), url("../fonts/Whitney-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Segoe UI Regular';
  src: url("../fonts/SegoeUI.eot");
  src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Segoe UI Semibold';
  src: url("../fonts/SegoeUI-SemiBold.eot");
  src: url("../fonts/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Whitney Semibold';
  src: url("../fonts/Whitney-Semibold.eot");
  src: url("../fonts/Whitney-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Whitney-Semibold.woff") format("woff"), url("../fonts/Whitney-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0; }
  body .position-content__color {
    background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%); }
    body .position-content__color .position-content__header {
      max-width: 1170px;
      margin: 0 auto; }
      body .position-content__color .position-content__header header {
        padding: 36px 0 94px 0;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        body .position-content__color .position-content__header header .header-logo {
          display: flex;
          align-items: center; }
          body .position-content__color .position-content__header header .header-logo img + img {
            margin-left: 15px; }
        body .position-content__color .position-content__header header .header-info-authorization {
          display: flex;
          align-items: center;
          cursor: pointer; }
          body .position-content__color .position-content__header header .header-info-authorization a, body .position-content__color .position-content__header header .header-info-authorization span {
            color: #fff;
            font-family: 'Whitney Light', sans-serif;
            font-size: 18px;
            text-decoration: none; }
          body .position-content__color .position-content__header header .header-info-authorization span {
            display: flex;
            align-items: center;
            margin-left: 100px; }
            body .position-content__color .position-content__header header .header-info-authorization span img {
              margin-right: 12px; }
      body .position-content__color .position-content__header .banner {
        display: flex;
        justify-content: space-between; }
        body .position-content__color .position-content__header .banner .banner-text__content-check h2 {
          margin: 0;
          font-family: 'Whitney Medium', sans-serif;
          color: #fff;
          font-size: 50px; }
        body .position-content__color .position-content__header .banner .banner-text__content-check p {
          font-family: 'Whitney Book', sans-serif;
          color: #fff;
          font-size: 24px;
          margin: 30px 0 0 0; }
        body .position-content__color .position-content__header .banner .banner-text__content-check button {
          margin-top: 60px;
          cursor: pointer;
          outline: none;
          background: #F25B24;
          border: none;
          border-radius: 4px;
          display: flex;
          width: 220px;
          height: 50px;
          align-items: center;
          justify-content: center; }
          body .position-content__color .position-content__header .banner .banner-text__content-check button p {
            font-family: 'Whitney Book', sans-serif;
            color: #fff;
            font-size: 18px;
            margin: 0; }
  body .position-content {
    max-width: 1170px;
    margin: 0 auto; }
    body .position-content .content h3 {
      margin: 80px 50px 0 0;
      color: #2E2D35;
      font-family: 'Whitney Medium', sans-serif;
      font-size: 40px; }
    body .position-content .content .content-card {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, calc((100% - 30px) / 2));
      grid-row-gap: 30px;
      grid-column-gap: 30px; }
      body .position-content .content .content-card .content-card__item {
        padding: 43px 27px 27px 40px;
        background: #F6F5F9;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body .position-content .content .content-card .content-card__item .content-card__item__text .h1 {
          margin: 0;
          font-family: 'Segoe UI Semibold', sans-serif;
          font-size: 22px;
          color: #2E2D35; }
        body .position-content .content .content-card .content-card__item .content-card__item__text p {
          font-family: 'Segoe UI Regular', sans-serif;
          font-size: 16px;
          color: #474351;
          margin: 22px 0 0 0; }
    body .position-content .banner-check {
      background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
      border-radius: 10px;
      display: flex;
      margin: 154px 0; }
      body .position-content .banner-check .banner-check__heading {
        margin: 70px 0 0 70px; }
        body .position-content .banner-check .banner-check__heading p {
          margin: 0;
          font-family: 'Whitney Book', sans-serif;
          color: #fff;
          font-size: 34px; }
        body .position-content .banner-check .banner-check__heading button {
          margin: 46px 0  70px 0;
          cursor: pointer;
          outline: none;
          background: #F25B24;
          border: none;
          border-radius: 4px;
          display: flex;
          width: 220px;
          height: 50px;
          align-items: center;
          justify-content: center; }
          body .position-content .banner-check .banner-check__heading button p {
            margin: 0;
            font-family: 'Whitney Book', sans-serif;
            color: #fff;
            font-size: 18px; }
  body .wrapper {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none; }
    body .wrapper.active {
      display: flex; }
    body .wrapper .wrapper-modal {
      background: #FFFFFF;
      box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      position: relative;
      width: 490px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .wrapper .wrapper-modal .h1 {
        font-family: 'Whitney Semibold', sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 60px 0 17px; }
      body .wrapper .wrapper-modal form {
        display: flex;
        flex-direction: column; }
        body .wrapper .wrapper-modal form span {
          color: #474351;
          font-family: 'Whitney Medium', sans-serif;
          font-size: 18px;
          margin: 18px 0 10px; }
        body .wrapper .wrapper-modal form input {
          height: 50px;
          width: 370px;
          outline: none;
          border: 1px solid #DDDAE7;
          box-sizing: border-box;
          border-radius: 4px;
          padding-left: 12px; }
      body .wrapper .wrapper-modal button {
        cursor: pointer;
        outline: none;
        background: #F25B24;
        border: none;
        border-radius: 4px;
        margin: 34px 0 55px;
        display: flex;
        width: 370px;
        height: 50px;
        align-items: center;
        justify-content: center; }
        body .wrapper .wrapper-modal button p {
          margin: 0;
          font-family: 'Whitney Book', sans-serif;
          color: #fff;
          font-size: 18px; }
      body .wrapper .wrapper-modal img {
        position: absolute;
        top: 5%;
        right: 5%;
        transform: translate(-50%, 50%);
        cursor: pointer; }

/* Адаптив */
@media screen and (max-width: 1024px) {
  body .position-content__color .position-content__header {
    max-width: 600px; }
    body .position-content__color .position-content__header header {
      padding: 24px 0 40px 0; }
      body .position-content__color .position-content__header header .header-info-authorization a {
        font-size: 16px; }
      body .position-content__color .position-content__header header .header-info-authorization span {
        margin-left: 32px;
        font-size: 16px; }
    body .position-content__color .position-content__header .banner .banner-text__content-check h2 {
      font-size: 22px; }
    body .position-content__color .position-content__header .banner .banner-text__content-check p {
      font-size: 16px;
      margin: 16px 0 0 0; }
    body .position-content__color .position-content__header .banner .banner-text__content-check button {
      margin-top: 30px;
      width: 180px;
      height: 44px; }
    body .position-content__color .position-content__header .banner .banner-img img {
      width: 375px; }
  body .position-content {
    max-width: 600px; }
    body .position-content .content h3 {
      font-size: 30px;
      margin: 60px 30px 0 0; }
    body .position-content .content .content-card {
      margin-top: 50px;
      grid-template-columns: auto; }
    body .position-content .banner-check {
      margin: 80px 0; }
      body .position-content .banner-check .banner-check__heading {
        margin: 50px 0 0 40px; }
        body .position-content .banner-check .banner-check__heading p {
          font-size: 16px; }
        body .position-content .banner-check .banner-check__heading button {
          margin: 40px 0 30px 0;
          width: 180px; }
      body .position-content .banner-check img {
        width: 320px; } }
@media screen and (max-width: 425px) {
  body .wrapper .wrapper-modal {
    width: 320px; }
    body .wrapper .wrapper-modal h1 {
      font-size: 32px;
      margin: 42px 0 14px; }
    body .wrapper .wrapper-modal form input {
      width: 254px;
      height: 44px; }
    body .wrapper .wrapper-modal button {
      width: 254px;
      height: 44px; }
  body .position-content__color .position-content__header {
    padding: 10px;
    width: auto; }
    body .position-content__color .position-content__header header {
      flex-direction: column;
      padding: 24px 0 40px 0; }
      body .position-content__color .position-content__header header .header-info-authorization a {
        font-size: 16px; }
      body .position-content__color .position-content__header header .header-info-authorization span {
        margin-left: 32px;
        font-size: 16px; }
    body .position-content__color .position-content__header .banner .banner-text__content-check {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      body .position-content__color .position-content__header .banner .banner-text__content-check h2 {
        font-size: 22px; }
      body .position-content__color .position-content__header .banner .banner-text__content-check p {
        font-size: 16px;
        margin: 16px 0 0 0; }
      body .position-content__color .position-content__header .banner .banner-text__content-check button {
        margin: 30px 0;
        width: 180px;
        height: 44px; }
    body .position-content__color .position-content__header .banner .banner-img img {
      display: none; }
  body .position-content {
    padding: 10px;
    width: auto; }
    body .position-content .content h3 {
      font-size: 20px;
      margin: 50px 0 0 0; }
    body .position-content .content .content-card {
      margin-top: 50px;
      grid-template-columns: auto; }
      body .position-content .content .content-card .content-card__item {
        padding: 20px; }
        body .position-content .content .content-card .content-card__item .content-card__item__text .h1 {
          font-size: 16px; }
        body .position-content .content .content-card .content-card__item .content-card__item__text p {
          margin: 10px 0 0 0;
          font-size: 12px; }
        body .position-content .content .content-card .content-card__item .content-card__item__img img {
          width: 100px; }
    body .position-content .banner-check {
      margin: 40px 0; }
      body .position-content .banner-check .banner-check__heading {
        display: flex;
        flex-direction: column;
        margin: 30px;
        align-items: center;
        justify-content: center;
        align-content: center; }
        body .position-content .banner-check .banner-check__heading p {
          font-size: 16px; }
        body .position-content .banner-check .banner-check__heading button {
          width: 180px;
          height: 44px;
          margin: 30px 0 0  0; }
      body .position-content .banner-check img {
        display: none; } }

/*# sourceMappingURL=style.css.map */
